*{
box-sizing: border-box;
margin:1rem;
background-color: #F1FAEE;
}

.bodyComponent{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

h1{
font-size: 6rem;
font-family: 'Noto Serif', serif;
color: #1D3557;
display: flex;
justify-content: center;
}

.inputMain{
font-size: 1.5rem;
width: 100%;
margin: 0.8rem;
font-family: 'Noto Serif', serif;
background-color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

input{
font-size: 1.5rem;
width: 100%;
margin: 0.8rem;
font-family: 'Noto Serif', serif;
background-color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

button{
padding:0.6rem;
font-size: 1rem;
font-family: 'Noto Serif', serif;
display: flex;
justify-content: center;
align: center;
align-items: center;
width: 100%;
background-color: #457B9D;
border-radius: 1rem;
}

.toDo{
font-size: 1.5rem;
margin: 0 5rem 0 5rem;
font-family: 'Noto Serif', serif;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.deleteButton{
background-color:#E63946;
}